/* Mixins */
@use './variables' as *;

@mixin centrer{ /* Permet de centrer verticalement et horizontalement un élément */
    justify-content: center;
    align-items: center;
}

@mixin ombre($colour: $grey){ /* Caractéristiques des box-shadow */
    box-shadow: 3px 10px 10px $colour;
}

@mixin colonne{ /* Permet de positionner les éléments en colonne */
    display: flex;
    flex-direction: column;
}

@mixin like { /* Permet le remplissage du like avec une couleur graduée */
    .coeur1{
        opacity: 0;

        &:hover{
            opacity: 1;
            transition: all 0.3s linear 0s;
            background: linear-gradient($primaire, $secondaire);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@mixin fontlike { /* Permet la mise en forme du like */
    display: flex;
    align-self: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    color: $darkgrey;
}

@mixin cardanim{ /* Permet l'apparition progressive des éléments de la carte */
    .one{
        animation: fadein 0.5s 1s ease-in-out backwards;
        &__plats{
            animation: fadein 0.5s 1.4s ease-in-out backwards;
        }
        &__desserts{
            animation: fadein 0.5s 1.8s ease-in-out backwards;
        }
    }

    .two{
        animation: fadein 0.5s 1.2s ease-in-out backwards; 
        &__plats{
            animation: fadein 0.5s 1.4s ease-in-out backwards;
        }    
        &__desserts {
            animation: fadein 0.5s 2s ease-in-out backwards;
        }    
    }
    
    .three
    {
        animation: fadein 0.5s 1.4s ease-in-out backwards;  
        &__plats{
            animation: fadein 0.5s 1.4s ease-in-out backwards;
        }   
        &__desserts {
            animation: fadein 0.5s 2.2s ease-in-out backwards;
        } 
    }
}
