@use '../abstracts/' as *;

/* Design footer */

footer{
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: $darkgrey;
    color: white;
    
    a{
        text-decoration: none;
        font-size: small;
        font-weight: 400;
        margin: 1px;
        color: white;
        
        &:hover{
            color: $tertiaire;
        }
    }

    h6{
        margin-bottom: 10px;
    }

    .footer__contact{
        display: flex;

        p{
            margin-left: 10px;
        }
    }
}

@media (min-width:500px){
    #footer__content{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}
