/* Design du header */
@use '../abstracts/' as *;

header{ /* Position et taille du logo */
    display: flex;
    margin: 20px;
    @include centrer ;
    
    img{
        width: 50%;
    }
    
    a{ /* Ajout du bouton retour */
        font-size: x-large;
        position:absolute;
        justify-content: flex-start;
        color: $darkgrey;
        left: 30px;
    }
}

@media (min-width:500px){
    header img{
        width: 40%;
    }    
}

@media (min-width:1000px){
    header img{
        width: 25%;
    }    
}